html {
  --primary-color: #0a84ff;
  --secondary-color: #c5d2e3;

  --black: #111113;
  --light-black: #121214;

  --light-gray: #0091ff;
  --gray: #414347;
  --dark-gray: #151517;

  --dark-yellow: #f7b500;


  --very-light-pink: #f2f2f2;
  --dark-indigo: #2e0f53;

}